*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
}
.circle{
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
}
.circle1{
    background-color: red;
    top: 190px;
    left: 540px;
    z-index: 6;
}
.circle2{
    background-color: orange;
    top: 230px;
    left: 610px;
    z-index: 7
}
.circle3{
    background-color: yellow;
    top: 280px;
    left: 670px;
    z-index: 8;
}
.circle4{
    background-color: green;
    top: 310px;
    left: 740px;
    z-index:9;
}
.circle5{
    background-color: blue;
    top: 350px;
    left: 800px;
    z-index: 10;
}
.white{
    background-color: white;
    width: 45px;
    height: 45px;
    top: 210px;
    left: 540px;
    z-index: 11;
}
.black{
    background-color: black;
    width: 20px;
    height: 20px;
    top: 220px;
    left: 540px;
    z-index: 12;
}