*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.square-ball{
    width: 70px;
    height: 70px;
    background-color: pink;
    border-radius: 50%;
    position: Relative;

    /* animation 연결 */
    animation-name:move-square;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move-square{
    0%{
        left: 0;
        top: 0;
    }25%{
        left: 300px;
        top: 0;
    }50%{
        left: 300px;
        top: 300px;
    }75%{
        left: 0;
        top: 300px;
    }100%{
        left: 0;
        top: 0;
    }
}