*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 1200px;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.box1{
    background-color: red;
}
.box2{
    background-color: orange;
}
.box3{
    background-color: yellow;
}
.box4{
    background-color: green;
}
.minibox{
    width: 80px;
    height: 80px;
    border: 1px solid red;
    border-radius: 50%;
    position: fixed;
    background-color: pink;
    bottom: 1px;
    text-align: center;
    padding: 25px 0;
}